* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --med-grey: hsl(214, 20%, 60%);
}

body {
  font-family: sans-serif;
}

p {
  line-height: 1.6;
}

.header {
  padding: 1.85rem 12rem;
  background-color: #333;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.75rem;
}

.nav__links-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__links-item {
  margin: 0 .75rem;
}

.dashboard,
.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

/* Project Cards */
.card {
  margin-bottom: 3rem;
}

.card__title {
  margin-bottom: .75rem;
}

.card__posted-by {
  margin-bottom: .25rem;
}

.card__post-date {
  font-size: .9rem;
  font-weight: 700;
  color: var(--med-grey);
}

.project-details {
  max-width: 60rem;
  margin: 3rem auto;
}

.project__info {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}

/* Forms */
.form {
  max-width: 35rem;
}

.form__title {
  margin-bottom: 1.25rem;
  font-size: 1.65rem;
  font-weight: 400;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form__group__label {
  margin-bottom: .25rem;
  color: var(--med-grey);
  font-weight: 700;
}

.form__group__input {
  padding: .5rem;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: #EDF2F7;
}

.form__group__submit {
  /* Left-align btn */
  align-self: start;
  margin-top: .75rem;

  padding: .8rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #434190;
  color: #fff;
}