* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.header {
  padding: 1.85rem 12rem;
  background-color: #333;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.75rem;
}

.nav__links-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__links-item {
  margin: 0 .75rem;
}

.dashboard {
  max-width: 70rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}

/* Project Cards */
.card {
  margin-bottom: 3rem;
}

.card__title {
  margin-bottom: .75rem;
}

.card__posted-by {
  margin-bottom: .25rem;
}

.card__post-date {
  font-size: .9rem;
  font-weight: 700;
  color: hsl(214, 20%, 60%);
}